@use '../base/common' as *;
@use '../base/mixins' as *;
@use '../base/variables' as *;

//==========================================================================================================================================================
.main-banner {
	// max-height: 1246px;
	// padding-top: 455px;
	padding-top: min(calc(100vw / (1920 / 457)), max(457px));
	padding-bottom: 20px;
	// .main-banner__bg
	&__bg {
		z-index: -1;
	}
	// .main-banner__bg-img
	&__bg-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	// .main-banner__container
	&__container {
		padding: 0 20px;
		height: 100%;
	}
	// .main-banner__inner
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		// height: 100vh;
		height: 100%;
	}
	// .main-banner__title
	&__title {
		position: absolute;
		top: 25px;
		display: flex;
		justify-self: center;
		margin-left: -33px;
		font-weight: 600;
		// font-size: rem(402);
		font-size: calc(100vw / (1920 / 402));
		line-height: normal;
		letter-spacing: -0.1em;
		text-transform: uppercase;
		text-align: center;
		background: linear-gradient(180deg, #dbdddd 0%, #505e79 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		white-space: nowrap;
		br {
			display: none;
		}
	}
	// .main-banner__top
	&__top {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 535px;
	}
	// .main-banner__quote
	&__quote {
		flex: 0 1 410px;
		&:nth-child(1) {
			text-align: left;
			.main-banner__quote-author {
				display: flex;
				column-gap: 10px;
				justify-content: flex-start;
				align-items: stretch;
				&::before {
					content: '';
					display: block;
					width: 17px;
					height: 11px;
					background-image: url('/icons/quote-icon.svg');
				}
			}
		}
		&:nth-child(2) {
			text-align: right;
			.main-banner__quote-author {
				display: flex;
				column-gap: 10px;
				justify-content: flex-end;
				align-items: stretch;
				&::after {
					content: '';
					display: block;
					width: 17px;
					height: 11px;
					background-image: url('/icons/quote-icon.svg');
				}
			}
		}
	}
	// .main-banner__quote-text
	&__quote-text {
		font-size: rem(22);
		line-height: 100%;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: $color-white;
		margin-bottom: 10px;
	}
	// .main-banner__quote-author
	&__quote-author {
		line-height: 100%;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: $color-grey;
	}
	// .main-banner__content
	&__content {
		position: absolute;
		top: 0;
		display: flex;
		justify-content: center;
		max-height: 860px;
	}
	// .main-banner__center
	&__center {
		position: relative;
		max-width: 100%;
	}
	// .main-banner__center-img
	&__center-img {
	}
	// .main-banner__company
	&__company {
	}
	// .main-banner__shadow
	&__shadow {
		position: absolute;
		bottom: -185px;
		left: 0;
		right: 0;
		z-index: -1;
	}

	// .main-banner__bottom
	&__bottom {
		margin-top: auto;
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-bottom: 20px;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			display: block;
			width: 100%;
			height: 1px;
			background-color: $color-white;
			background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 0.2) 5%,
				rgba(255, 255, 255, 0.2) 91%,
				rgba(255, 255, 255, 0) 100%
			);
		}
	}
	// .main-banner__bottom-item
	&__bottom-item {
		&:nth-child(1) {
			flex: 0 1 522px;
		}
		&:nth-child(2) {
			flex: 0 1 540px;
		}
	}
}

.delivery-company {
	// .delivery-company__inner
	&__inner {
		position: relative;
		display: flex;
		align-items: flex-start;
	}
	// .delivery-company__info
	&__info {
		// max-width: 300px;
		// height: auto;
		flex: 0 1 300px;
		// width: calc(100vw / (1920 / 300));
		padding: 20px;
		border: 1px solid rgba(255, 255, 255, 0.08);
		border-radius: 5px;
		backdrop-filter: blur(20px);
		background: rgba(84, 112, 137, 0.15);
	}
	// .delivery-company__decor
	&__decor {
		position: relative;
		flex: 0 1 220px;
		height: 105px;
	}
	// .delivery-company__line
	&__line {
		// position: absolute;
		// flex: 0 1 220px;
		// width: calc(100vw / (1920 / 220));
	}
	// .delivery-company__title
	&__title {
		font-weight: 500;
		font-size: rem(26);
		line-height: 100%;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	// .delivery-company__descr
	&__descr {
		font-weight: 400;
		font-size: rem(15);
		line-height: 120%;
		color: $color-grey;
		margin-bottom: 60px;
	}
	// .delivery-company__img
	&__img {
	}
}
.dhl-company {
	position: absolute;
	bottom: -22px;
	left: -495px;
	max-width: 520px;
	width: 100%;
	max-height: 222px;
	.delivery-company__line {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.delivery-company__circle {
		position: absolute;
		top: 0;
		right: 0;
	}
}
.fedex-company {
	position: absolute;
	bottom: -218px;
	left: 132px;
	max-width: 521px;
	width: 100%;
	max-height: 236px;
	.delivery-company__inner {
		justify-content: flex-end;
	}
	.delivery-company__line {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: rotateY(180deg);
	}
	.delivery-company__circle {
		position: absolute;
		top: 0;
		left: 0;
	}
}
.amazon-company {
	position: absolute;
	bottom: -107px;
	right: -497px;
	max-width: 521px;
	width: 100%;
	max-height: 210px;
	.delivery-company__inner {
		justify-content: flex-end;
	}
	.delivery-company__line {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: rotateY(180deg);
	}
	.delivery-company__circle {
		position: absolute;
		top: 0;
		left: 0;
	}
	.delivery-company__title {
		br,
		span {
			display: none;
		}
	}
}

.bottom-item {
	// .bottom-item__descr
	&__descr {
	}
	// .bottom-item__text
	&__text {
	}
	// .bottom-item__count
	&__count {
	}
}
.why-us {
	// .why-us__descr
	&__descr {
		display: flex;
		align-items: stretch;
		column-gap: 10px;
		font-size: rem(20);
		line-height: 100%;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: $color-grey;
		margin-bottom: 10px;
		&::before {
			content: '';
			display: block;
			width: 16px;
			height: 18px;
			background-image: url('/icons/why-us-icon.svg');
		}
	}
	// .why-us__text
	&__text {
		font-size: rem(48);
		line-height: 100%;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: $color-white;
	}
	// .why-us__text--white
	&__text--white {
		font-weight: 600;
	}
}
.leading-way {
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 0 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	backdrop-filter: blur(20px);
	background: rgba(255, 255, 255, 0.01);
	// .leading-way__col
	&__col {
		flex: 0 1 246px;
	}
	// .leading-way__text
	&__text {
		font-weight: 500;
		font-size: rem(26);
		line-height: 100%;
		text-transform: uppercase;
		color: $color-white;
		margin-bottom: 10px;
	}
	// .leading-way__descr
	&__descr {
		font-weight: 400;
		font-size: rem(15);
		line-height: 120%;
		color: $color-grey;
	}
	// .leading-way__count
	&__count {
		display: flex;
		column-gap: 10px;
		align-items: center;
		font-weight: 300;
		font-size: rem(80);
		line-height: 120%;
		text-transform: uppercase;
		color: $color-white;
		&::after {
			content: '';
			position: relative;
			transform: translateY(-50%);
			display: block;
			width: 23px;
			height: 20px;
			background-image: url('/public/icons/leading-way-icon.svg');
		}
	}
}

.main-banner__company-point {
	display: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	.circle--active {
		transition: 0.3s ease;
	}
}

//==========================================================================================================================================================
// Адаптив
@media (min-width: 1920.98px) {
	.main-banner__container {
		padding: 0;
	}
	.main-banner__title {
		font-size: rem(415);
	}
}
@media (max-width: 1799.98px) {
	.main-banner__content {
		// top: 30px;
	}

	.main-banner__center-img {
		max-width: 701px;
	}
	.dhl-company,
	.fedex-company,
	.amazon-company {
		max-width: 420px;
	}
	.delivery-company__info {
		max-width: 250px;
	}
	.delivery-company__decor {
		max-width: 170px;
	}
	.dhl-company {
		left: -395px;
		bottom: -50px;
		.delivery-company__line {
			bottom: 30px;
		}
	}
	.fedex-company {
		bottom: -210px;
		left: 115px;
		.delivery-company__line {
			bottom: 30px;
		}
	}
	.amazon-company {
		right: -400px;
		bottom: -95px;
		.delivery-company__line {
			bottom: 30px;
		}
	}
	.delivery-company__descr {
		margin-bottom: 30px;
	}
}
@media (max-width: 1579.98px) {
	.main-banner__content {
		top: 30px;
	}

	.main-banner__center-img {
		// max-width: 591px;
	}
	.dhl-company,
	.fedex-company,
	.amazon-company {
		max-width: 370px;
	}
	.delivery-company__decor {
		max-width: 145px;
	}
	.dhl-company {
		left: -345px;
		bottom: 10px;
		.delivery-company__line {
			bottom: 40px;
		}
	}
	.fedex-company {
		left: 120px;
		bottom: -145px;
		.delivery-company__line {
			bottom: 40px;
		}
	}
	.amazon-company {
		right: -355px;
		bottom: -50px;
		.delivery-company__line {
			bottom: 40px;
		}
	}
	.delivery-company__info {
		padding: 10px;
	}
	.delivery-company__title {
		font-size: rem(20);
	}
	.delivery-company__descr {
		font-size: rem(13);
		margin-bottom: 15px;
	}
	.main-banner__top {
		// margin-bottom: 400px;
	}
}
@media (max-width: 1439.98px) {
	.dhl-company,
	.fedex-company,
	.amazon-company {
		max-width: 320px;
	}
	.delivery-company__decor {
		max-width: 130px;
	}
	.dhl-company {
		left: -295px;
		.delivery-company__line {
			bottom: 50px;
		}
	}
	.fedex-company {
		bottom: -155px;
		.delivery-company__line {
			bottom: 50px;
		}
	}
	.amazon-company {
		right: -305px;
		bottom: -65px;
		.delivery-company__line {
			bottom: 50px;
		}
	}
}
@media (max-width: 1339.98px) {
	.main-banner {
		padding-top: clamp(320px, calc(100vw / (1920 / 457)), 457px);
	}
	.main-banner__title {
		top: 45px;
	}
	.main-banner__top {
		margin-bottom: 615px;
	}
	.main-banner__content {
		max-height: 100%;
	}
	.main-banner__center {
		max-width: 701px;
	}
	.main-banner__center-img {
		margin-bottom: 45px;
	}
	.main-banner__center-inner {
		display: flex;
		column-gap: 10px;
	}
	.main-banner__shadow {
		bottom: -110px;
	}
	.dhl-company,
	.fedex-company,
	.amazon-company {
		position: relative;
		top: 0;
		left: 0;
		max-width: 33.333333%;
		max-height: 100%;
	}
	.delivery-company__decor {
		display: none;
	}
	.delivery-company__img {
		margin-top: auto;
	}
	.delivery-company__inner,
	.delivery-company__info {
		height: 100%;
	}
	.delivery-company {
		transition: 0.3s ease;
		&.active {
			transform: scale(1.1);
		}
	}
	.amazon-company {
		.delivery-company__title {
			br,
			span {
				display: block;
				color: transparent;
			}
		}
	}

	.main-banner__bottom-item:nth-child(2) {
		flex: 0 1 430px;
	}
	.leading-way {
		align-items: center;
	}
	.why-us__text {
		font-size: rem(32);
		text-wrap: balance;
	}
	.leading-way__count {
		justify-content: flex-end;
		font-size: rem(40);
	}

	.dhl-point {
		display: block;
		position: absolute;
		bottom: 330px;
		left: -15px;
	}
	.fedex-point {
		display: block;
		position: absolute;
		bottom: 180px;
		left: 120px;
	}
	.amazon-point {
		display: block;
		position: absolute;
		bottom: 250px;
		right: -25px;
	}
}

@media (max-width: 1199.98px) {
	.main-banner__title {
		font-size: calc((100vw / (1200 / 210)));
		margin-left: -16px;
		top: 60px;
	}
}

@media (max-width: 991.98px) {
	.header__menu {
		column-gap: 15px;
	}

	.main-banner__title {
		font-size: rem(155);
		// font-size: calc((100vw / (992 / 160)));
		margin-left: -8px;
	}
	.main-banner {
		padding-top: clamp(240px, calc(100vw / (1920 / 457)), 457px);
	}

	.main-banner__center-img {
		display: block;
		max-width: 601px;
		margin: 0 auto;
		margin-bottom: 45px;
	}

	.main-banner__company-point {
		width: 30px;
		height: 30px;
	}
	.dhl-point {
		bottom: 325px;
		left: 40px;
	}
	.fedex-point {
		bottom: 190px;
		left: 160px;
	}
	.amazon-point {
		right: 30px;
	}
}

@media (max-width: 767.98px) {
	.main-banner__bg {
		// top: -205px;
	}
	.main-banner__bg-img {
		max-height: 768px;
		object-position: center top;
	}

	.main-banner__center-inner {
		display: none;
	}

	.main-banner__content {
		position: relative;
		top: -160px;
		order: 0;
	}
	.main-banner__top {
		flex-direction: column;
		row-gap: 40px;
		order: 1;
		margin-bottom: 30px;
		.main-banner__quote {
			flex-basis: auto;
			text-align: left;
			.main-banner__quote-text {
				font-size: rem(18);
			}
			.main-banner__quote-author {
				font-size: rem(14);
			}
		}
		.main-banner__quote:nth-child(2) .main-banner__quote-author {
			justify-content: flex-start;
		}
		.main-banner__quote:nth-child(2) .main-banner__quote-author::after {
			display: none;
		}
		.main-banner__quote:nth-child(2) .main-banner__quote-author::before {
			content: '';
			display: block;
			width: 17px;
			height: 11px;
			background-image: url('/containe-test/icons/quote-icon.svg');
		}
	}
	.main-banner__bottom {
		flex-direction: column;
		row-gap: 10px;
		order: 2;
		padding-top: 20px;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			display: block;
			width: 100%;
			height: 1px;
			background-color: #fff;
			background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 0.2) 5%,
				rgba(255, 255, 255, 0.2) 91%,
				rgba(255, 255, 255, 0) 100%
			);
		}
		.main-banner__bottom-item {
			flex-basis: auto;
		}
		.why-us__descr {
			font-size: rem(16);
		}
		.why-us__text {
			font-size: rem(26);
		}
		.leading-way {
			padding: 15px 10px;
		}
		.leading-way__text {
			font-size: 22px;
		}
		.leading-way__count::after {
			width: 11px;
			height: 11px;
			background-size: contain;
		}
	}

	.main-banner {
		// padding-top: clamp(115px, calc(100vw / (1920 / 150)), 457px);
		padding-top: 0;
	}
	.main-banner__title {
		position: relative;
		top: 70px;
		font-size: calc(100vw / (768 / 150));
	}
	.main-banner__content {
		top: -135px;
		top: calc(100vw / (768 / -135));
	}

	.main-banner__center-img {
		// margin-bottom: 33px;
		max-width: 501px;
	}
	.main-banner__shadow {
		bottom: -35px;
	}

	.main-banner__company-point {
		width: 20px;
		height: 20px;
	}
	.dhl-point {
		bottom: 140px;
		left: -5px;
	}
	.fedex-point {
		bottom: 40px;
		left: 90px;
	}
	.amazon-point {
		bottom: 85px;
		right: -10px;
	}
}

@media (max-width: 575.98px) {
	.main-banner__bg {
		// top: -305px;
	}

	.main-banner__bg-img {
		object-position: -310px 0px;
		// object-position: -215px 16px;/
		max-height: 762px;
	}

	.main-banner__title {
		position: relative;
		top: 80px;
		padding-top: 10px;
		font-weight: 600;
		font-size: rem(90);
		line-height: 80%;
		white-space: normal;

		br {
			display: block;
		}
	}

	.main-banner__content {
		// top: clamp(-15px, calc(100vw / (576 / -15)), -65px);
		top: -85px;
	}

	.main-banner__center-img {
		margin-bottom: 33px;
		// max-width: 280px;
		max-width: calc(100% - 10px);
	}

	.dhl-point {
		// bottom: 85px;
		bottom: calc((100vw / (576 / 135)));
		left: 0;
	}
	.fedex-point {
		bottom: 25px;
		// left: 45px;
		left: calc(100vw / (576 / 90));
	}
	.amazon-point {
		bottom: 75px;
		bottom: calc(100vw / (576 / 85));
		right: -5px;
		// right: calc(100vw / (576 / -15));
	}
}

@media (max-width: 480px) {
	.main-banner__bg-img {
		// object-position: -310px top;
		// object-position: -215px 16px;/
		// max-height: 532px;
		max-height: 662px;
	}
}
@media (max-width: 420px) {
	.main-banner__bg-img {
		// object-position: -310px top;
		// object-position: -215px 16px;/
		// max-height: 532px;
		max-height: 602px;
	}
}
@media (max-width: 360px) {
	.main-banner__bg-img {
		object-position: -225px top;
		max-height: 552px;
	}
}
