@use '../base/common' as *;
@use '../base/mixins' as *;
@use '../base/variables' as *;

//==========================================================================================================================================================
.main-banner {
	max-height: 1246px;
	min-height: 100%;
	padding-top: 457px;
	padding-top: min(calc(100vw / (1920 / 457)), max(457px));
	padding-bottom: 20px;
	// .main-banner__bg
	&__bg {
		z-index: -1;
	}
	// .main-banner__bg-img
	&__bg-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	// .main-banner__container
	&__container {
		padding: 0 20px;
		height: 100%;
	}
	// .main-banner__inner
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		// height: 100vh;
		height: 100%;
	}
	// .main-banner__title
	&__title {
		position: absolute;
		top: 25px;
		display: flex;
		justify-self: center;
		margin-left: -33px;
		font-weight: 600;
		// font-size: rem(402);
		font-size: calc(100vw / (1920 / 402));
		line-height: normal;
		letter-spacing: -0.1em;
		text-transform: uppercase;
		text-align: center;
		background: linear-gradient(180deg, #dbdddd 0%, #505e79 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		white-space: nowrap;
	}
	// .main-banner__top
	&__top {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 538px;
	}
	// .main-banner__quote
	&__quote {
		flex: 0 1 410px;
		&:nth-child(1) {
			text-align: left;
			.main-banner__quote-author {
				display: flex;
				column-gap: 10px;
				justify-content: flex-start;
				align-items: stretch;
				&::before {
					content: '';
					display: block;
					width: 17px;
					height: 11px;
					background-image: url('/icons/quote-icon.svg');
				}
			}
		}
		&:nth-child(2) {
			text-align: right;
			.main-banner__quote-author {
				display: flex;
				column-gap: 10px;
				justify-content: flex-end;
				align-items: stretch;
				&::after {
					content: '';
					display: block;
					width: 17px;
					height: 11px;
					background-image: url('/icons/quote-icon.svg');
				}
			}
		}
	}
	// .main-banner__quote-text
	&__quote-text {
		font-size: rem(22);
		line-height: 100%;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: $color-white;
		margin-bottom: 10px;
	}
	// .main-banner__quote-author
	&__quote-author {
		line-height: 100%;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: $color-grey;
	}
	// .main-banner__content
	&__content {
		position: absolute;
		top: 0;
		display: flex;
		justify-content: center;
		width: calc(100vw / (1920 / 801));
		max-height: 860px;
	}
	// .main-banner__center
	&__center {
		position: relative;
		max-width: 100%;
	}
	// .main-banner__center-img
	&__center-img {
	}
	// .main-banner__company
	&__company {
	}
	// .main-banner__shadow
	&__shadow {
		position: absolute;
		bottom: -185px;
		left: 0;
		right: 0;
		z-index: -1;
	}

	// .main-banner__bottom
	&__bottom {
		margin-top: auto;
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-bottom: 20px;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			display: block;
			width: 100%;
			height: 1px;
			background-color: $color-white;
			background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 0.2) 5%,
				rgba(255, 255, 255, 0.2) 91%,
				rgba(255, 255, 255, 0) 100%
			);
		}
	}
	// .main-banner__bottom-item
	&__bottom-item {
		&:nth-child(1) {
			flex: 0 1 522px;
		}
		&:nth-child(2) {
			flex: 0 1 540px;
		}
	}
}

.delivery-company {
	// .delivery-company__inner
	&__inner {
		position: relative;
		display: flex;
		align-items: flex-start;
	}
	// .delivery-company__info
	&__info {
		// max-width: 300px;
		// height: auto;
		flex: 0 1 300px;
		// width: calc(100vw / (1920 / 300));
		padding: 20px;
		border: 1px solid rgba(255, 255, 255, 0.08);
		border-radius: 5px;
		backdrop-filter: blur(20px);
		background: rgba(84, 112, 137, 0.15);
	}
	// .delivery-company__line
	&__line {
		// position: absolute;
		flex: 0 1 220px;
		// width: calc(100vw / (1920 / 220));
	}
	// .delivery-company__title
	&__title {
		font-weight: 500;
		font-size: rem(26);
		line-height: 100%;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	// .delivery-company__descr
	&__descr {
		font-weight: 400;
		font-size: rem(15);
		line-height: 120%;
		color: $color-grey;
		margin-bottom: 60px;
	}
	// .delivery-company__img
	&__img {
	}
}
.dhl-company {
	position: absolute;
	bottom: -22px;
	left: -495px;
	max-width: 520px;
	width: 100%;
	max-height: 222px;
	.delivery-company__line {
		// top: 0;
		// right: 0;
	}
}
.fedex-company {
	position: absolute;
	bottom: -218px;
	left: 132px;
	max-width: 521px;
	width: 100%;
	max-height: 236px;
	.delivery-company__inner {
		justify-content: flex-end;
	}
	.delivery-company__line {
		transform: rotateY(180deg);
	}
}
.amazon-company {
	position: absolute;
	bottom: -107px;
	right: -497px;
	max-width: 521px;
	width: 100%;
	max-height: 210px;
	.delivery-company__inner {
		justify-content: flex-end;
	}
	.delivery-company__line {
		transform: rotateY(180deg);
	}
}

.bottom-item {
	// .bottom-item__descr
	&__descr {
	}
	// .bottom-item__text
	&__text {
	}
	// .bottom-item__count
	&__count {
	}
}
.why-us {
	// .why-us__descr
	&__descr {
		display: flex;
		align-items: stretch;
		column-gap: 10px;
		font-size: rem(20);
		line-height: 100%;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: $color-grey;
		margin-bottom: 10px;
		&::before {
			content: '';
			display: block;
			width: 16px;
			height: 18px;
			background-image: url('/icons/why-us-icon.svg');
		}
	}
	// .why-us__text
	&__text {
		font-size: rem(48);
		line-height: 100%;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: $color-white;
	}
	// .why-us__text--white
	&__text--white {
		font-weight: 600;
	}
}
.leading-way {
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 0 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	backdrop-filter: blur(20px);
	background: rgba(255, 255, 255, 0.01);
	// .leading-way__col
	&__col {
		flex: 0 1 246px;
	}
	// .leading-way__text
	&__text {
		font-weight: 500;
		font-size: rem(26);
		line-height: 100%;
		text-transform: uppercase;
		color: $color-white;
		margin-bottom: 10px;
	}
	// .leading-way__descr
	&__descr {
		font-weight: 400;
		font-size: rem(15);
		line-height: 120%;
		color: $color-grey;
	}
	// .leading-way__count
	&__count {
		display: flex;
		column-gap: 10px;
		align-items: center;
		font-weight: 300;
		font-size: rem(80);
		line-height: 120%;
		text-transform: uppercase;
		color: $color-white;
		&::after {
			content: '';
			position: relative;
			transform: translateY(-50%);
			display: block;
			width: 23px;
			height: 20px;
			background-image: url('/public/icons/leading-way-icon.svg');
		}
	}
}

//==========================================================================================================================================================
// Адаптив
@media (min-width: 1920.98px) {
	.main-banner__container {
		padding: 0;
	}
	.main-banner__title {
		font-size: rem(415);
	}
}

@media (max-width: 1799.98px) {
	.dhl-company,
	.fedex-company,
	.amazon-company {
		max-width: 480px;
	}
	.delivery-company__info {
		max-width: 280px;
	}
	.delivery-company__line {
		max-width: 200px;
	}
	.dhl-company {
		left: -455px;
	}
	.amazon-company {
		right: -455px;
	}
}
@media (max-width: 1599.98px) {
	.main-banner {
		// min-height: 1176px;
	}
	.dhl-company,
	.fedex-company,
	.amazon-company {
		max-width: 420px;
	}
	.delivery-company__info {
		max-width: 260px;
	}
	.delivery-company__line {
		max-width: 180px;
	}
	.dhl-company {
		left: -395px;
	}
	.amazon-company {
		right: -395px;
	}
	.delivery-company__descr {
		margin-bottom: 30px;
	}
	.main-banner__top {
		margin-bottom: 468px;
	}
}
