//==========================================================================================================================================================
// Colors
$color-white: #fff;
$color-white-muted: rgba(255, 255, 255, 0.08);
$color-white-muted-2: rgba(255, 255, 255, 0.1);

$color-black: #000;
$color-body-bg: #030303;
$color-overlay-bg: #06101e;

$color-grey: #80858d;

$color-blue: #2461fe;
$color-header-bg: rgba(84, 112, 137, 0.15);
